pipeline/ImportSugarCubeSales_And_Logging.json
{
	"name": "ImportSugarCubeSales_And_Logging",
	"properties": {
		"activities": [
			{
				"name": "ImportSalesdata",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "RunSeqno",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [dbo].[Sales_LOAD]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['Month']"
								},
								"sink": {
									"name": "SalesMonth",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['Company']"
								},
								"sink": {
									"name": "Retailer",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Product']"
								},
								"sink": {
									"name": "Product",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ManufacturerProductCode']"
								},
								"sink": {
									"name": "ManufacturerProductCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Units']"
								},
								"sink": {
									"name": "UnitsSold",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['Value']"
								},
								"sink": {
									"name": "SalesValueUSD",
									"type": "Decimal"
								}
							}
						],
						"collectionReference": "$['Sales']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_Json",
						"type": "DatasetReference",
						"parameters": {
							"Container": "sampledata",
							"Directory": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.File",
								"type": "Expression"
							},
							"LinkedServiceConnectionSecret": "dp203storageaccountconnectionstring"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ASQL_salesLoad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupRunSeqNo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStart]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": {
									"value": "@{pipeline().Pipeline} executed in @{pipeline().DataFactory} - loading file @{pipeline().parameters.Directory}/@{pipeline().parameters.File}",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_salesLoad",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "RunSeqno",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupRunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunSeqno",
					"value": {
						"value": "@string(activity('LookupRunSeqNo').output.firstRow.RunSeqNo)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ImportSalesdata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('ImportSalesdata').output.filesRead\n",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('ImportSalesdata').output.rowsCopied\n",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('ImportSalesdata').output.rowsRead\n",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('RunSeqno')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "dp203sqldatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Directory": {
				"type": "string",
				"defaultValue": "azure-data-factory-by-example-main/SampleData/SugarCube/2020/Q2"
			},
			"File": {
				"type": "string",
				"defaultValue": "April.json"
			}
		},
		"variables": {
			"RunSeqno": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "RichardSwinBank/Chapter6"
		},
		"annotations": []
	}
}