pipeline/ImportSTformatFile_Divert_Persist.json
{
	"name": "ImportSTformatFile_Divert_Persist",
	"properties": {
		"activities": [
			{
				"name": "LookuprunsequenceNumber",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStart]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": {
									"value": "Pipeline @{pipeline().Pipeline} executed in @{pipeline().DataFactory} - loading file @{pipeline().parameters.Directory}/@{pipeline().parameters.File}",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_salesLoad",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetRunSeqNo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookuprunsequenceNumber",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Runseqno",
					"value": {
						"value": "@string(activity('LookuprunsequenceNumber').output.firstRow.RunSeqNo)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ImportSalesData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetRunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILENAME"
							},
							{
								"name": "RunSeqNo",
								"value": {
									"value": "@variables('Runseqno')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AnyblobStorage",
								"type": "LinkedServiceReference",
								"parameters": {
									"ConnectionSecret": "dp203storageaccountconnectionstring"
								}
							},
							"path": "errorordiverted"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Retailer",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Retailer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesMonth",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesMonth",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesValueUSD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesValueUSD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "UnitsSold",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnitsSold",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SourceFileName",
									"type": "String"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunSeqNo",
									"type": "String"
								},
								"sink": {
									"name": "RunSeqNo",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"Container": "sampledata",
							"Directory": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.File",
								"type": "Expression"
							},
							"LinkedServiceConnectionSecret": "dp203storageaccountconnectionstring"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ASQL_salesLoad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LogPiplelineOutcome",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ifrowsskipped",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('ImportSalesData').output.filesRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('ImportSalesData').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('ImportSalesData').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('Runseqno')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "dp203sqldatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LogPiplelineFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ImportSalesData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('ImportSalesData').output.filesRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('ImportSalesData').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('ImportSalesData').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('Runseqno')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "Failure",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "dp203sqldatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ifrowsskipped",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ImportSalesData').output.rowsSkipped,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "SkippedRows",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@join(skip(split(activity('ImportSalesData').output.logFilePath,'/'),1),'/')",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ABS_CSV_escapecharacer",
									"type": "DatasetReference",
									"parameters": {
										"Container": "errorordiverted",
										"Directory": ".",
										"File": ".",
										"LinkedServiceConnectionSecret": "dp203storageaccountconnectionstring"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQLDB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "dbo",
										"Table": "LoadingError"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ImportSalesData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PersistLoadedSales]",
					"storedProcedureParameters": {
						"runSeqNo": {
							"value": {
								"value": "@variables('Runseqno')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "dp203sqldatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Directory": {
				"type": "string",
				"defaultValue": "azure-data-factory-by-example-main/SampleData/NaughtyButNice"
			},
			"File": {
				"type": "string",
				"defaultValue": "NBN-202006.csv"
			}
		},
		"variables": {
			"Runseqno": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "RichardSwinBank/Chapter6"
		},
		"annotations": []
	}
}