pipeline/SwitchCondition.json
{
	"name": "SwitchCondition",
	"properties": {
		"activities": [
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@variables('ChildVariable')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "1",
							"activities": [
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Setvariable",
										"value": 1
									}
								}
							]
						},
						{
							"value": "2",
							"activities": [
								{
									"name": "Set variable3",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Setvariable",
										"value": 200
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ChildVariable",
					"value": {
						"value": "@variables('ParentVariable')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ParentVariable": {
				"type": "Integer",
				"defaultValue": 1
			},
			"ChildVariable": {
				"type": "Integer",
				"defaultValue": -1
			},
			"Setvariable": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "RichardSwinBank/Chapter6"
		},
		"annotations": []
	}
}